/* My fonts familys */
@font-face {
    font-family: 'nanu-regular';
    src: url("/fonts/NanumMyeongjo-Regular.ttf");
}

/* Body style */
body {
    background-image: url(images/Rose.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header style */
.headers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: beige;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo a {
    font-size: 2.1rem;
    font-weight: 900;
    color: #bf2271;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.MeName {
    font-size: 1.4rem;
    color: black;
    font-family: 'nanu-regular';
    text-align: left;
}

.back-dev {
    font-size: 1.2rem;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

/* Nav style */
.btn {
    background-color: pink;
    display: none;
}

.nav-link {
    font-family: 'poppins', sans-serif;
    font-size: 1.4rem;
    margin-left: 0.3rem;
    padding: .5rem 1.5rem;
    font-weight: 600;
    color: grey !important;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.nav-link a {
    text-decoration: none;
    color: gray;
}

.nav-link:hover {
    color: lightcoral;
    background-color: transparent;
    border-radius: 1rem;
    border: 3px solid pink;
}

/* Main style */
main {
    margin-top: 135px;
}

.containers {
    padding: 1rem;
    background-color: beige;
    border-radius: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto auto;
    margin-top: 20px;
}

/* Introduction style */

#description {
    width: 99%;
    background-color: transparent;
    border: 2px solid pink;
    box-shadow: lightcoral 0px 7px 29px 0px;
}

#descrip {
    width: auto;
    margin-top: 0%;
    padding: 2rem;
}

.img_girl {
    float: right;
}

/* Projects style */
.projectscont {
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}

#pros {
    border-bottom: .125rem solid gray;
    width: auto;
}

#github {
    width: 50%;
    background-color: transparent;
    border: 2px solid lightcoral;
    text-align: center;
    box-shadow: pink 0px 7px 30px 0px;
}

#github a {
    color: black;
    text-decoration: none;
    font-size: 21px;
}

/* About Me style */
.out {
    text-align: center;
}

.aboutme {
    padding: 3rem;
    position: relative;
    text-align: center;
}

/* Contact style */
.pointend {
    text-align: center;
    margin-top: 30px;
}

#iconscontac {
    width: 30%;
    background-color: transparent;
    border: 2px solid lightcoral;
    text-align: center;
    box-shadow: lightcoral 0px 7px 25px 0px;
}

.provisional {
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Media Query nav deploy */
@media (max-width: 1220px) {
    .btn {
        display: inline-block;
    }

    .ghost {
        display: none;
    }

    .nav {
        flex-direction: column;
    }
}

@media (max-width: 761px) {
    .provisional {
        flex-direction: column;
    }

    .MeName {
        font-size: large;
    }

    .back-dev {
        font-size: medium;
    }
}

/* Media Query boton github project */
@media (max-width: 1183px) {
    #github {
        width: 90%;
    }
}

/* Media Query box contacts */
@media (max-width: 740px) {
    #iconscontac {
        width: 90%;
    }
}